$primary-font: 'Poppins', sans-serif;
$secondary-font: "Raleway", sans-serif;

$primary-color:#000000;
$secondary-color:#0ca8c9;
$gray-color:#8f8f8f;
$gray-light-color:#bababa;
$light-color:#fff;

$footer-bg:#f2f2f2;
// $primary-background:#222222;
// $secondary-background:#222222;

$gray: #393e46;
$gray-light: #6a727f;
$gray-dark: #282f3a;
$gray-darker: #252b36;
$blue-color: #4944f2;
$gray-lighter: #f7f8f9;
