.footer{

    &-top{
        padding: 56px 0px 40px 0px;
        background-color: $footer-bg;
    }

    &-heading{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 21px;
        text-transform: uppercase;
    }
    &-list{
        list-style: none;
    }
    &-link{
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        color:$gray-color;
        margin-bottom: 20px;
    }
    &-contact{
        &-item{
            display: flex;
            align-items: center;
            margin-bottom: 8px;
        }
        &-icon{
            font-size: 16px;
            font-weight: 400;
            color:$secondary-color;
            line-height: 22px;
            margin-right: 22px;
            min-width: 16px;
        }
        &-text{
            font-size: 13px;
            font-weight: 500;
            color: #8f8f8f;
            line-height: 23px;
            max-width: 280px;
        }
    }
    &-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
    }
    &-copyright{
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        color:$gray-color;

        & a {
            color:$secondary-color;
        }
    }
    &-social{
        margin-top: 30px;
        &-list{
            list-style: none;
            display: flex;
        }
        &-link{
            font-size: 13px;
            font-weight: 400;
            line-height: 30px;
            margin-right: 23px;
            color:$gray-color;
        }
    }

}

@include maxWidth(1023px){
    .footer-bottom{
        flex-direction: column;
    }
    .footer-top {
        padding: 40px 0px;
    }
    .footer-payments{
        margin-top: 20px;
    }
}
@include maxWidth(739px){
    .footer-social{
        margin-bottom: 20px;
    }
}
